@import '../variables';

.dropdowns {
    width: 89%;

    .dropdown {
        width: 100%;
        display: flex;
        flex-direction: column;

        .content {

            flex: 1 1 auto;

            .contentStyle {
                flex: 1;
                display: flex;
                flex-direction: column;

                .content-item {
                    list-style: none;
                }
            }
        }
    }
}

@media (min-width:1024px) {
    .dropdowns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .dropdown {
            width: 45%;

            .content {
                .contentStyle {
                    display: flex;
                    flex-direction: column;


                }
            }
        }
    }
}