@import '../variables';

nav {
    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            color: $black;
            font-weight: 500;
            font-size: 12px;
            margin-left: 1rem;
            cursor: pointer;

            &:hover,
            &:focus {
                text-decoration: underline;
            }



            a {
                text-decoration: none;
                color: $black;

                &.active-style {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    nav {
        ul {
            li {
                font-size: 18px;
                margin-left: 2rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    nav {
        ul {
            li {
                font-size: 24px;
                margin-left: 3rem;
            }
        }
    }
}